src/*.idx
src/*.log
src/*.toc
src/*.scn
src/*.aux
src/*.dvi
src/*.o
src/assign_lisa
src/gb_graph
src/gb_graph-bigalloc
src/gb_save
src/gb_dijk
src/makegraph
src/makedigraph
src/book_components
src/econ_order
src/football
src/girth
src/ladders
src/libgb.a
src/miles_span
src/multiply
src/queen
src/roget_components
src/take_risc
src/word_components
.DS_Store
src/certified
